@layer base {
  input[type='number'].arrow-hide::-webkit-outer-spin-button,
  input[type='number'].arrow-hide::-webkit-inner-spin-button,
  input[type='number'].arrow-hide {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  @apply px-4 md:px-6 lg:px-8 xl:px-10;
}
